<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{url:"/css/product-details.css"}) %>

  <body>
    <div class="main-container">
      <div class="container-central">

        <%- include('../partials/nav-bar') %>



          <%- include('../partials/footer') %>
      </div>
    </div>
  </body>

</html>