.edit-container {
    padding: 5% 20%;
}

.guardar {
    position: relative;
    color: #FBFBFF;
    background-color: #FF007B;
    border: solid 1px #FF007B;
    font-size: 20px;
    padding: 10px;
    padding-left: 6.7%;
    padding-right: 6.7%;
    border-radius: 10px;
    opacity: 70%;
    transition: .5s;
    margin-top: 20px;
}

.guardar:hover {
    background-color: #01BAEF;
    border: solid 1px #01BAEF;
    opacity: 100%;
}