<header>
    <div class="bar">
        <div class="logo">
            <a href="/">
                <img src="/images/logo-banner/logo-final-ps.png" alt="">
            </a>
        </div>
        <div class="contenedor-lupa">
            <input class="buscador" placeholder="Buscar productos, marcas y más">
            <button class="boton" type="submit">
                <div id="lupita"><i class="fas fa-search"></i></div>
            </button>
        </div>
        <div class="icono">
        <% if (locals.isLogged && locals.userLogged) { %>
            <a href="/cart/<%=locals.userLogged.id%>"><i class="fas fa-shopping-bag"></i></a>
            <a href="/auth/profile/<%=locals.userLogged.id%>"><i class="fas fa-user-circle"></i></a>
            <% if (locals.userLogged.role==="Administrador") { %>
                <a href="/auth/users"><i class="fas fa-users"></i></a>
            <% } %>
            <a href="/auth/logout"><i class="fas fa-sign-out-alt"></i></a>
        <% } else { %>
            <a href="/auth/login"><i class="fas fa-user"></i></a>
            <% } %>
        </div>
    </div>
</header>